@media (max-width: 992px) {
    .list-group-item-action span {
        display: none;
    }
}

.btn-primary {
    min-width: 65px;
}
.more-rounded {
    border-radius: 100px;
}
.custom-img-size {
    height: 80px;
    width: 80px;
}

.custom-avatar-size {
    height: 50px;
    width: 50px;
}
.btn-blue {
    background-color: dodgerblue;
    color: white;
    border: dodgerblue;
    height: 35px;
    width: 80px;
    min-width: 50px;
}