.wd-bookmarks-title {
    font-size: 20px;
    color: white;
    margin-left: 16px;
    margin-top: 12px;
}

.wd-bookmarks-user {
    color: rgb(47, 51, 54);
    font-size: 13px;
    margin-left: 16px;
    margin-bottom: 12px;
}

.wd-bookmarks-post{
    display: flex;
}

.wd-bookmarks-post-user-image {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    margin-left: 16px;
    margin-top: 12px;
}

.wd-bookmarks-post-user,
.wd-bookmarks-post-handle,
.wd-bookmarks-post-date {
    display: inline-block;
}

.wd-bookmarks-post-user {
    font-size: 15px;
    color: white;
    margin-left: 12px;
}

.wd-bookmarks-post-handle,
.wd-bookmarks-post-date {
    font-size: 15px;
    color: rgb(47, 51, 54);
}

.wd-bookmarks-post-tuit {
    color: white;
    font-size: 15px;
    max-width: 506px;
    margin: 0 16px 12px 12px;
}

.wd-bookmarks-post-image {
    width: 504px;
    height: 264px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.wd-bookmarks-post-block {
    margin-left: 12px;
    margin-right: 12px;
    border: 1px solid rgb(47, 51, 54);
    border-radius: 0 0 12px 12px;
}

.wd-bookmarks-post-title-and-text {
    font-size: 15px;
    padding: 12px;
}

.wd-bookmarks-post-title {
    color: white;
    font-weight: bold;
}

.wd-bookmarks-post-text {
    color: rgb(47, 51, 54);
}

.wd-bookmarks-icons {
    margin-top: 12px;
    margin-left: 12px;
    display: flex;
    justify-content: space-between;
    margin-right: 20%;
}

.fa-share,
.fa-comment,
.fa-retweet,
.fa-heart {
    margin-right: 12px;
    margin-bottom: 5px;
}

.fa-share,
.fa-comment,
.fa-retweet {
    width: 12px;
    height: 12px;
    color: rgb(47, 51, 54);
}

.wd-bookmarks-icons-comment-number,
.wd-bookmarks-icons-retuit-number {
    color: rgb(47, 51, 54);
    font-size: 15px;
}

.fa-heart,
.wd-bookmarks-icons-heart-number {
    color: red;

}

.wd-bookmarks-icons-heart-number {
    font-size: 15px;
}